html {
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive;
}

p, li {
  font-size: 15px;    
  line-height: 2;
  letter-spacing: 2px;
}


body {
  width: 550px;
  margin: 0 auto;
  background-color: grey;
  background-image: url("https://us.123rf.com/450wm/christianchan/christianchan1509/christianchan150900384/45241652-formules-math%C3%A9matiques-%C3%A9crites-par-la-craie-blanche-sur-tableau-noir-l-arri%C3%A8re-plan-.jpg");

  padding: 0 25px 25px 25px;
  border: 10px solid black;
}

h1 {
  margin: 0;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;    
  color: darkred;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
